nav {
    background-color: wheat;
    position: sticky;
    width: 100vw;
    z-index: 1000;
}

.navbarBox {
    padding-left: 2rem;
    padding-right: 1rem;
}
.pandaspetshop {
    color: black;
    font-size: x-large;
    font-weight: bolder;
}

