<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>{{nama_aplikasi}}</h1>
    <br>
    <h5>{{nama}}</h5>
    <h5>{{class}}</h5>

{% if not items %}
<p>Belum ada item.</p>
{% else %}
<table>
  <tr>
    <th>Nama</th>
    <th>Harga</th>
    <th>Deskripsi</th>
    <th>Animal Type</th>
    <th>Stock</th>
  </tr>

  {% for item in items %}
  <tr>
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>{{item.description}}</td>
    <td>{{item.animal_type}}</td>
    <td>{{item.stock}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:add_item' %}">
  <button>Add New Item</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{last_login}}</h5>`
    {% endblock content %}
</body>
</html>