{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Panda's Pet Shop</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">
  <div class="p-2 mb-6 relative">
</div>
    <div class="px-3 mb-4">
    </div>
    <div class="flex justify-evenly mb-6 absolute">
        <div>
            <h2 class="font-bold px-3 py-2 mx-2 rounded-lg text-1rem">Welcome, {{user.username}}</h2>
        </div>
        <a href="{% url 'main:add_item' %}" class=" text-black font-bold py-2 px-4 rounded-lg" id="addItem">
            +
        </a>
    </div>
    
    {% if not items  %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
        <img src="{% static 'image/731867.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
        <p class="text-center text-gray-600 mt-4">Belum ada data.</p>
    </div>
    {% else %}
    <div class="columns-1 sm:columns-4 lg:columns-1">
        {% for item in items %}
            {% include 'card.html' with item=item %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}