{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/view_item.css' %}">
<title>{{ item.name }}</title>
<style>
    html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    padding: 0px;
    border: 1px solid black;
    background-color: #f9f9f9;
    border-radius: 10px;
    max-width: 50%;
    overflow-x: auto;
}

.name {
    background-color: wheat;
    border-radius: 10px 10px 0px 0px;
    padding-inline: 10vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: center;
    font-weight: bolder;
}

.kontenerGambar{
    display: flex ;
    justify-content: center;
    align-items: center; 
} 

.kontenerGambar img {
    display: flex ;
    justify-content: center;
    align-items: center; 
    width: 10vw;
}
.deskripsi {
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
}


</style>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<body class="flex flex-col min-h-screen bg-gray-100">
    <div class="border">
        <div class="name">
            {{ item.name }}
        </div>
        <div class="kontenerGambar">
            {% if item.photo %}
            <img src="{{ item.photo.url }}">
            {% else %}
            <p>No image available</p>
            {% endif %}
        </div>
        <div class="deskripsi">
            <p>{{ item.description }}</p>
        </div>
    </div>
</body>

{% endblock content %}
